name: Push docker image to github registry

on:
  push:
    branches: [ "master" ]

env:
  DOCKER_REGISTRY: ghcr.io

permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set DOCKER_IMAGE env
        run: |
          echo "DOCKER_IMAGE=$DOCKER_REGISTRY/rprtr258/twitch-bot" >> $GITHUB_ENV
      - name: Checkout
        uses: actions/checkout@v2.5.0
        with:
          lfs: true
      - name: Login to container registry
        uses: docker/login-action@v2.1.0
        id: login
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build image and push to registry
        uses: docker/build-push-action@v3.2.0
        with:
          file: Dockerfile
          context: .
          push: true
          tags: |
            ${{ env.DOCKER_IMAGE }}:latest
            ${{ env.DOCKER_IMAGE }}:${{ github.sha }}
